* {
  box-sizing: border-box;
}

body {
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  flex-wrap: wrap;
}

.block {
  background-color: #1d1d1d;
  width: 16px;
  height: 16px;
  box-shadow: 0 0 2px #000;
  margin: 2px;
  transition: 2s ease;
}

.block:hover {
  transition: 0s;
}